$border-radius: 0.3rem;
$padding: 0.75rem;

.i-dropdown {
  min-width: 6rem;
  cursor: pointer;
  position: relative;
  display: inline-block;
  word-wrap: break-word;
  white-space: normal;
  color: rgba(0, 0, 0, 0.8);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  div {
    padding: $padding 1rem;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: $border-radius;
    -webkit-transition: border-radius 0.1s ease, width 0.2s ease;
    -moz-transition: border-radius 0.1s ease, width 0.2s ease;
    transition: border-radius 0.1s ease, width 0.2s ease;

    &.inline {
      border: none;
    }

    &.disabled {
      background-color: #eee;
      color: #ccc;
      fill: #ccc;
      pointer-events: none;
    }

    span {
      display: inline-flex;
      min-width: 2rem;
    }

    i.icon {
      pointer-events: none;
    }
  }

  section {
    position: absolute;
    top: 3rem;
    // left: -1px;
    z-index: 1000;
    min-width: calc(100% + 1px);
    min-height: calc(100% + 1px);
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border-radius: $border-radius;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    padding: $padding;

    input {
      border: 1px solid rgba(0, 0, 0, 0.15);
      border-radius: $border-radius;
      margin: 0 0 $padding;
      transition: all 0.25s ease-in-out;
      opacity: 0.6;

      &:focus,
      &:active {
        opacity: 1;
      }
    }

    ul {
      padding: 0;
      margin: 0;
      text-align: left;
      list-style: none;
      overflow: auto;

      li {
        a {
          display: block;
          border-radius: $border-radius;
          padding: 0 $padding;
          clear: both;
          font-weight: normal;
          line-height: 1.42857143;
          color: #333;
          white-space: nowrap;
          text-decoration: none;

          &:hover {
            text-decoration: none;
            color: unset;
            background-color: rgba(0, 0, 0, 0.025);
          }
        }
      }
    }

    span.total-results {
      color: #aaa;
      font-size: 80%;
    }
  }

  &.disabled {
    cursor: not-allowed;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: all 0.25s ease-in-out;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
  transform: scale(0.1);
  transform-origin: top left;
}
